@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #F16126;
    --secondary-Color: ;
    --text-Color: #000000;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #EE8800;
    --error-Color: #FE514C;
    --grey-Color: #77838F;
    --black-Color: #232323;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#E5E7EB ;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 16px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading:60px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;

}
.fdb-block {
    padding: 0rem 0;
}
/* headera9823ff3dfbdaa29 */
.headera9823ff3dfbdaa29 .navbar .nav-link{
    color: var(--black-Color);
}
.headera9823ff3dfbdaa29 .navbar .nav-link:hover{
    color: var(--grey-Color);
}
/* aboutd1e3f52aae36e7047 */
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: var(--heading);
}
.aboutd1e3f52aae36e7047 .DescriptionPara{
    display: none;
}
.aboutd1e3f52aae36e7047 span{
    font-size: var(--paragraph);
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active{
color: var(--main-Background-Color); 
border-color: var(--warning-Color);
background-color: var(--warning-Color);
}
.aboutd1e3f52aae36e7047 .jumbotron{
    padding: var(--jumbotron-padding);
}
/* calltoactioncaiqjccw4ir */
.calltoactioncaiqjccw4ir{
    padding: var(--section-padding);
}
.calltoactioncaiqjccw4ir .fdb-block {
    padding: 0rem 0;
    padding-bottom: 4em;
}
.calltoactioncaiqjccw4ir h1 {
    font-size: var(--heading-large);
}
.calltoactioncaiqjccw4ir .lead {
    font-size: var(--paragraph);
}
.calltoactioncaiqjccw4ir .btn-primary,
.calltoactioncaiqjccw4ir .btn-primary:hover,
.calltoactioncaiqjccw4ir .btn-primary:not(:disabled):not(.disabled):active{
    color: var(--secondary-Background-Color);
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
    padding: var(--button-padding);
    font-weight: var(--button-font-weight);
}
/* productsfd232222df02a491 */
.productsfd232222df02a491{
    padding: var(--section-padding);
}

.productsfd232222df02a491 .title {
    font-size: var(--heading-medium);
    color: var(--black-Color);
}
.productsfd232222df02a491 .blob-btn:before{
    border: 2px solid var(--black-Color);
}
.productsfd232222df02a491 .blob-btn__blob{
    background: var(--black-Color);
}
/* productsfd232222df02a491 */
.fernandof38911b935c3ef6d9{
    padding: var(--section-padding);
}
.fernandof38911b935c3ef6d9 h1{
    font-size: var(--heading-large);
}
.fernandof38911b935c3ef6d9 .lead {
    font-size: var(--paragraph);
}
.fernandof38911b935c3ef6d9 .fdb-block{
    padding: 0rem 0;
}
.fernandof38911b935c3ef6d9 .btn-primary,
.fernandof38911b935c3ef6d9 .btn-primary:hover,
.fernandof38911b935c3ef6d9 .btn-primary:not(:disabled):not(.disabled):active{
    color: var(--secondary-Background-Color);
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
    padding: var(--button-padding);
    font-weight: var(--button-font-weight);
}
.fernandof38911b935c3ef6d9 .h3 {
    font-size: var(--heading-medium);
}
.fernandof38911b935c3ef6d9 .pt-5{
    padding-top: 1rem !important;
}
.fernandof38911b935c3ef6d9 strong {
    font-weight: var(--button-font-weight);
}
/* counteraf598102c9dad94e */
.counteraf598102c9dad94e{
    padding: var(--section-padding);
}
.counteraf598102c9dad94e h2{
    font-size: var(--heading-large);
    color: var(--error-Color);
}
.counteraf598102c9dad94e h4{
    font-size: var(--paragraph);
}
.counteraf598102c9dad94e .h-50 {
    display: none;
}
/* teamtmi4xt29bn1 */
.teamtmi4xt29bn1{
    padding: var(--section-padding);
}
.teamtmi4xt29bn1 .fdb-block{
    padding: 0rem 0;
    padding-bottom: 5em;
}
.teamtmi4xt29bn1 h1 {
    font-size: var(--heading-large);
}
.teamtmi4xt29bn1 h4 {
    font-size: var(--heading-two);
    margin-top: 10px;
}
.teamtmi4xt29bn1 strong {
    font-weight: 500 !important;
}
.teamtmi4xt29bn1 p{
    display: none;
}
/* bannerb9aaf5d9db46220bf */
.bannerb9aaf5d9db46220bf{
    padding: var(--section-padding);
}
.bannerb9aaf5d9db46220bf .background{
    padding: 200px;
}
.bannerb9aaf5d9db46220bf .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
.bannerb9aaf5d9db46220bf h2 {
    font-size: var(--heading-large);
}
.bannerb9aaf5d9db46220bf p {
    font-size: var(--paragraph);
}
.bannerb9aaf5d9db46220bf .button,
.bannerb9aaf5d9db46220bf .button:hover{
    color: var(--secondary-Background-Color);
    background-color: var(--primary-Color);
    border-color: var(--primary-Color);
    padding: var(--button-padding);
    font-weight: var(--button-font-weight);
}
/* formft4wqz7r3sf */
.formft4wqz7r3sf{
    padding: var(--section-padding);
}
.formft4wqz7r3sf .fdb-block{
    background-image: none;
    padding: 0rem 0;
}
.formft4wqz7r3sf h2 {
    font-size: var(--heading-large);
}
.formft4wqz7r3sf .btn-primary,
.formft4wqz7r3sf .btn-primary:hover,
.formft4wqz7r3sf .btn-primary:not(:disabled):not(.disabled):active{
color: var(--main-Background-Color); 
border-color: var(--warning-Color);
background-color: var(--warning-Color);
}
.formft4wqz7r3sf .lead {
    font-size: var(--paragraph);
}
/* testimonialtmrwms6esfu */
.testimonialtmrwms6esfu{
    padding: var(--section-padding);
}
.testimonialtmrwms6esfu .fdb-block{
    padding: 0rem 0;
}
.testimonialtmrwms6esfu .fdb-block .fdb-box{
    padding: 2.75rem 2.5rem;
}
.testimonialtmrwms6esfu .h5{
    font-size: var(--paragraph);
}
/* quoteb1b4a5dbe8b0424f */
.quoteb1b4a5dbe8b0424f{
    padding: var(--section-padding);
}
.quoteb1b4a5dbe8b0424f .subscribe-area {
    background-image: linear-gradient(to left, var(--success-Color) 0%, var(--alert-Color) 100%);
}
.quoteb1b4a5dbe8b0424f .subscribe-text span {
    font-size: 16px;
    font-weight: var(--button-font-weight);
    color: var(--black-Color);
    letter-spacing: 4px;
}
.quoteb1b4a5dbe8b0424f .subscribe-text h2{
    color: var(--black-Color);
    font-size: var(--heading-large);
    font-weight: var(--button-font-weight);
    margin-bottom: 0;
    margin-top: 15px;
}
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form input:focus-visible{
    outline: none;
}
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form button,
.quoteb1b4a5dbe8b0424f .subscribe2-wrapper .subscribe-form button:hover{
    background: var(--secondary-Background-Color);
    color: var(--black-Color);
}
/* foskaftskeh59j2o */
.foskaftskeh59j2o .fdb-block {
    background-color: var(--secondary-Background-Color);
}
.foskaftskeh59j2o a {
    font-weight: var(--button-font-weight);
    color: var(--black-Color);
}
.foskaftskeh59j2o .btn-primary,
.foskaftskeh59j2o .btn-primary:hover,
.foskaftskeh59j2o .btn-primary:not(:disabled):not(.disabled):active{
color: var(--main-Background-Color); 
border-color: var(--primary-Color);
background-color: var(--primary-Color);
}